@model IEnumerable<Student>
@{
    var Students = Model;
}
<h2 style="color: blue;">Students Table</h2>
<table class="table table-hover table-bordered">
    <thead>
        <th scope="col">Student ID</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Age</th>
        <th scope="col">Student Email</th>
        <th scope="col">Course ID</th>
        <th scope="col">Options</th>
    </thead>
    <tbody>
    @foreach (var item in Students) {
        <tr> 
            <th scope="row">@item.StudentId</th>
            <td>@item.Name </td>
            <td>@item.Age</td>
            <td>@item.Email</td>
            <td>@item.CourseId</td>
            <td>
                <a class="btn btn-info" asp-action="StudentInfo" asp-route-Id = "@item.StudentId" >Details</a>
                <a class="btn btn-danger" asp-action="DeleteStudent" asp-route-Id = "@item.StudentId" onclick="return confirm('Are You Sure To Delete?')">Delete Student</a>
                <a class="btn btn-primary" asp-action="EditStudentForm" asp-route-Id = "@item.StudentId" >Edit Student</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a class="btn btn-primary" asp-action="AddStudentForm">Add Student</a>
<hr>
<a type="button" class="btn btn-primary" asp-action="Index">Return</a>